<ion-header [translucent]="true">
  <ion-toolbar color = "dark">
    <ion-title>
      Histórico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" color="medium">
  
   <ion-card-title color="light">
    Ultima Leitura
   </ion-card-title>
  <ion-item>
    <div>
       <ion-card-title>{{Data}} {{Hora}}</ion-card-title>  
        <ion-card-content>
          <ion-card-title class="letras">
            <a href="https://github.com/MatheusESVicente">https://github.com/MatheusESVicente</a>
          </ion-card-title>
        </ion-card-content> 
      </div>  
    </ion-item>  
  <ion-item>
    <div>
       <ion-card-title>{{Data}} {{Hora}}</ion-card-title>  
        <ion-card-content>
          <ion-card-title>
            <a href="https://ionicframework.com/">https://ionicframework.com/</a>
          </ion-card-title>
        </ion-card-content> 
    </div>  
  </ion-item>
  <ion-item>
    <div>
       <ion-card-title>{{Data}} {{Hora}}</ion-card-title>  
        <ion-card-content>
          <ion-card-title>
            <a href="http://www.etecbarrabonita.com.br/">http://www.etecbarrabonita.com.br/</a> 
          </ion-card-title>
        </ion-card-content> 
    </div>  
  </ion-item> 
  </ion-content>
