<ion-header [translucent]="true">
  <ion-toolbar color = "dark">
    <ion-title>
      Histórico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" color = "medium">
  
   <ion-title>
    Ultima Leitura
  </ion-title>
  <ion-card color="dark">
    <div>
      <ion-card-title>Horário da Leitura: {{Hora}}</ion-card-title>
      <ion-button  expand="block" color="dark" >  
         <ion-card-content>
          <a href="https://github.com/MatheusESVicente">https://github.com/MatheusESVicente</a>
        </ion-card-content>
      </ion-button>  
    </div>
  </ion-card>   
  <ion-title>
    Demais Leituras
  </ion-title>
  <ion-card color="dark">
    <div>
      <ion-card-title>Horário da Leitura: {{Hora}}</ion-card-title>
      <ion-button  expand="block" color="dark" >
        <ion-card-content>
          <a href="https://ionicframework.com/">https://ionicframework.com/</a>
        </ion-card-content>
      </ion-button>  
    </div>
  </ion-card>
  <ion-card color="dark">
    <div>
      <ion-card-title>Horário da Leitura: {{Hora}}</ion-card-title>
      <ion-button expand="block" color="dark" >  
         <ion-card-content>
          <a href="http://www.etecbarrabonita.com.br/">http://www.etecbarrabonita.com.br/</a>
        </ion-card-content>
      </ion-button>  
    </div>
  </ion-card>
  

  </ion-content>
