<ion-header [translucent]="true">
  <ion-toolbar color = "dark">
    <ion-title>
      Leitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color = "medium">
  
</ion-content>

<div class="screnn">
  <div class="scan">
    <img id="logo" src="assets/logo.png" alt="">
  </div>
</div>


<ion-footer classname="ion-no-border">
  <ion-input expand="block">{{ valor_leitura }}</ion-input>
  <ion-toolbar color ="dark">
    <ion-button (click) = "lerQRCode" expand="block">Ler QRCode</ion-button>
  </ion-toolbar>
</ion-footer>



    


