<ion-header [translucent]="true">
  <ion-toolbar color = "dark">
    <ion-title>
      Leitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color = "medium">

</ion-content>

<div class="screnn">
  <div class="scan">
    <img id="logo" src="assets/logo.png" alt="">
  </div>
</div>


<ion-footer classname="ion-no-border">
  <ion-item  color = "medium">
    <ion-input expand="block" Use readonly=“true”>
      <a href="{{valor_leitura}}" target="blank" >{{valor_leitura}}</a>
    </ion-input>
  </ion-item>
  <ion-item color = "medium">
    <ion-input [(ngModel)]="valor_leitura"  ></ion-input>
  </ion-item>
  <ion-toolbar color ="dark">
    <ion-button (click) = "lerQRCode" expand="block" >Ler QRCode</ion-button>
  </ion-toolbar>
</ion-footer>



    


